# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries for programs and plugins
*.bin
*.out

# Cache and logs
*.log
*.swp
*.tmp

# Testing
*.test

# Dependency directories
/vendor/
/Godeps/
/.gogradle/

# Output directories
/_output/
/_test/
